<div class="modal" tabindex="-1" role="dialog" id="addAirlineModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Category</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCancel()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div style="font-size: 12px; font-family: 'Poppins'; font-weight: 400; ">
            Are you sure you want to delete
            <span class="airport-name">{{ data.name }}</span>?
          </div>
  
          <div class="btn-container">
            <button (click)="onCancel()" class="btn-cancel">Cancel</button>
            <button (click)="onDelete()" class="btn-submit">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  