
<div class="container w-100 h-100">
  <app-sidenvbar></app-sidenvbar>
  <div class="right_div" style="background-color: #FAFBFC;">
      <app-navbar></app-navbar>
      <router-outlet ></router-outlet>
  </div>
</div>

<div class="app-loading-screen" *ngIf="isLoading">
  <div class="app-loading-screen__panel">
    <div class="app-loading-screen__spinner"></div>
    <h2>Loading</h2>
    <p>Please wait while we prepare your page.</p>
  </div>
</div>



<!-- 
Sport to event >> startdate == end date >> description >> location 
register >> remove player > add downloadable files >> submit >> email > reference number >> 
add manage form >>


 -->
